<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<h1 th:text = "${msg}"></h1>
<h1>Create User</h1>
<form action="userinfo" method = "post">
<!--    <h3>ID</h3>-->
<!--    <input type="text" name = "id">-->
    <h3>Name</h3>
    <input type="text" name = "name">
    <h3>Language</h3>
    <input type="text" name = "lang">
    <br>
    <button type = "submit">Submit</button>
</form>
</body>
</html>